@font-face {
    font-family: "GraphikLight";   
    src: local("GraphikLight"),
      url("./fonts/GraphikLight.otf") format("truetype");
  }

  @font-face {
    font-family: "GraphikMedium";   
    src: local("GraphikMedium"),
      url("./fonts/GraphikMedium.otf") format("truetype");
  }

  @font-face {
    font-family: "GraphikRegular";   
    src: local("GraphikRegular"),
      url("./fonts/GraphikRegular.otf") format("truetype");
  }

  @font-face {
    font-family: "GraphikSemibold";   
    src: local("GraphikSemibold"),
      url("./fonts/GraphikSemibold.otf") format("truetype");
  }

  * {
    margin: 0 auto;
    padding: 0 auto;
  }
  
  body,
  html {
    height: 100vh;
    width: 100%;
    background-color: #F4F4F4;
  }

  .navbar-body{
    background-image: linear-gradient(to right, #2F456B , #2D2E34);
  }


  .modal{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .modal-container{
    display: flex;
    opacity: 10;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
  }

  .cross
  {
    cursor: pointer;
  }

  .sidebar{
    box-shadow: 0px 0px 10px 0px rgba(218, 216, 216, 0.65);
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .sidebar-active{
    box-shadow: 0px 0px 10px 0px rgba(218, 216, 216, 0.65);
    scroll-behavior: smooth;
    overflow-y: scroll;
    z-index: 10;
    scrollbar-width: none;
  }

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-active::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar-active {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  .divider{
    width: 60%;
    height: 1px;
    background-color: #b0b0b3;
    opacity: 0.5;
  }

  .hoverlinks:hover{
    width: 250em;
    border-radius: 40%;
    background-color: #F4F4F4;
    color: #000;
    cursor: pointer;
  }