@font-face {
  font-family: "GraphikLight";
  src: local("GraphikLight"), url("./fonts/GraphikLight.otf") format("truetype");
}

@font-face {
  font-family: "GraphikMedium";
  src: local("GraphikMedium"),
    url("./fonts/GraphikMedium.otf") format("truetype");
}

@font-face {
  font-family: "GraphikRegular";
  src: local("GraphikRegular"),
    url("./fonts/GraphikRegular.otf") format("truetype");
}

@font-face {
  font-family: "GraphikSemibold";
  src: local("GraphikSemibold"),
    url("./fonts/GraphikSemibold.otf") format("truetype");
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
  background-color: #f4f4f4;
}

.navbar-body {
  background: linear-gradient(280.39deg,#071530 64.59%,#405a86 109.59%);
}

.nav-links:hover{
  background-color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center; 
}

.nav-links{
  padding: 5px;
}


#left-top-cards{
  margin: 10px 5px 0px 5px;
  padding: 24px 32px;
  font-size: 14px;
}


.left-down-cards{
  margin: 10px 0 20px 5px;
  padding: 24px 32px;
}


.main{
  overflow: scroll;
}


@media (width < 1200px) {


  .main-body{
    padding-inline: 32px;
    padding-block: 32px;
  }
 
}

@media (width > 1200px) {

  .main-body{
    padding-inline: 180px;
    padding-block: 32px;
  }
 
}

.modal {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


@keyframes modal-animation {
  0%   {top:-40px;opacity: 0;}
  100% { top:0px;opacity: 1;}
}

.modal-container {
  display: flex;
  width: 100%;
  opacity: 10;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  padding: 25px;
  transition: opacity .15s linear;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}


@media only screen and (max-width: 550px) {
  #modal-container {
    min-width: 80vw;
  }

  #modal {
    width: 100%;
    height: 100%;
  }

  #modal-dropdowns {
    flex-wrap: wrap;
  }
}

@media (550px <= width <= 1000px) {
  #modal-container {
    min-width: 80vw;
  }

  #modal {
    width: 100%;
    height: 100%;
  }

  #modal-dropdowns {
    flex-wrap: wrap;
  }
}

@media (width > 1000px) {
  #modal-container {
    min-width: 40vw;
  }
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 8px;
  z-index: 10;
  scrollbar-width: thin;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}


.cross {
  cursor: pointer;
}

@media (width > 700px) {
  .navbar-body {
    min-height: 55px;
  }
}

@media (width <= 900px) {
  .profile-pic {
    display: none;
  }

  #navbar {
    min-height: 65px;
  }

  #icons {
    gap: 2px;
  }
}

@media (width <= 900px) {
  .grower {
    flex-shrink: 0;
    flex: 0 0 auto;
  }
}

@media (width <= 900px) {
  #right-cards {
    visibility: collapse;
    background-color: aqua;
  }

  .sidebar {
    visibility: collapse;
  }

  .post-cards {
    min-width: 100%;
  }
}

.sidebar {
  box-shadow: 0px 0px 10px 0px rgba(218, 216, 216, 0.65);
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar-active {
  box-shadow: 0px 0px 10px 0px rgba(60, 60, 60, 0.65);
  scroll-behavior: smooth;
  overflow-y: scroll;
  z-index: 10;
  scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-active::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 8px;
  z-index: 10;
  scrollbar-width: thin;
}

.sidebar-active::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.divider {
  width: 90%;
  height: 1px;
  background-color: #b0b0b3;
  opacity: 0.5;
}

.hoverlinks:hover {
  width: 1000px;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: #f4f4f4;
  cursor: pointer;
}

#upload-image{
  display: none;
}

#upload-file{
  display: none;
}

label{
  cursor: pointer;;
}

.phoverlinks:hover {
  width: 1000px;
  border-radius: 20px 20px 20px 20px;
  background-color: #ECEDFB;
  cursor: pointer;
}

/*For the rich text editor*/
/* Basic editor styles */
.ProseMirror {
  padding: 10px;
  background: white;
  border-radius: 0 0 5px 5px;
  height: 165px;
  border: 0;
  overflow-y: scroll;
}
.ProseMirror:focus {
  margin: 0;
  outline: 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.editor ::-webkit-scrollbar {
  display: none;
}


.editor ::-webkit-scrollbar-thumb {
  display: none;
}


.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

/* ............................ */
.textEditor {
  border-radius: 5px;
  border: 1px solid grey;
}
.menuBar {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is_active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
  border-radius: 2px;
}

.text-editor {
  padding: 10px;
}

.menubar {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 8px;
}

.menu-bar button {
  font-size: 14px;
  padding: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.menu-bar button:hover {
  background-color: #f4f4f4;
  border-radius: 20px;
  cursor: pointer;
}

.emojis {
  right: 0;
  top: 10%;
  position: absolute;
  z-index: 100;
}

.Checkbox {
  border-radius: 10px;
  color: #3F52E1;
}


.tabs {
  display: flex;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.tabs li {
  display: flex;
  height: 4px;
  width: 100%;
  background: #c5c5c5;
  border-radius: 6px;
  margin-block: 10px;
}

.tabs li.active {
  background: #5866E3;
}

.tabs .inner-text:active {
  color: #000;
  font-weight: bolder;
}
 